<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/ac70637174.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <img src="/img/logo.jpg" class="logo" alt="">
        <nav>
            <ul>
                <li><a href=""></a>Home</li>
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>About</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href=""></a><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><a href=""></a><i class="fa-solid fa-cart-shopping"></i></li>
                <li><a href=""></a><i class="fa-solid fa-user"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h2>nombre zapatillas</h2>
                <div>
                    <img src="/img/logo.jpg" class="img__principal" alt="imagen">
                </div>
                <div>
                    <img src="/img/logo.jpg" class="img__otros" alt="imagen2">
                    <img src="/img/logo.jpg" class="img__otros" alt="imagen3">
                    <img src="/img/logo.jpg" class="img__otros" alt="imagen4">
                </div>
                <div>
                    <p>precio</p>
                    <p>talle</p>
                    <p>color</p>
                    <p>cantidad</p>
                </div>
                <div>
                    <button>Comprar</button>
                    <button>Agregar al carrito</button>
                </div>
            </div>
        </section>
        <article>
            <h4>Productos similares</h4>
            <img src="/img/logo.jpg" class="img__mas" alt="otros productos">
            <p>detalles</p>
        </article>
    </main>
    <footer>
        <div>
            <h5>contactos</h5>
            <div class="icons">
                <h3><i class="fa-brands fa-square-whatsapp" style="color: #42d62e;"></i>111-555-555</h3>
                <h3><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-square-whatsapp"></i>Facebook</a></h3>
                <h3><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-square-whatsapp"></i>Instagram</a></h3>
            </div>
            <h5>horarios</h5>
            <p>10hs / 18hs</p>
            <h5>acerca de</h5>
            <p>nostros</p>
            <p>otros</p>
        </div>
    </footer>
</body>

</html>