<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/ac70637174.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- user login link -->
        <div class="header--conteiner-user">
            <button class="header-user">
                <i class="fa-solid fa-user" style="color: #fafafa;"></i>
            </button>
        </div>
        <nav class="header--conteiner-nav">
                <!-- burger icon -->
                <button class="header--button-bars">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <!-- logo -->
                <a class="header--link-logo" href="/"><img src="/img/logo-transform(black).png" alt=""></a>
                <!-- title -->
                <h1>FootwearFusion</h1>
                <!-- search bar | DESKTOP -->
                <form action="" class="header-form">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fas fa-search"></i></button>
                </form>
                <!-- shopping cart icon -->
                <button class="header--button-car">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"style="Color:#444444"></i></a>
                </button>
            <!-- links navigation -->
                <ul class="header--navbar">
                    <li><a href="">HOME</a></li>                    
                    <li><a href="">HOMBRE</a></li>
                    <li><a href="">MUJER</a></li>
                    <li><a href="">OFERTAS</a></li>
                    <li><a href="">ABOUT</a></li>
                </ul>
        </nav>
    </header>
    <main class="main-detalles">
        <!-- Recorrido -->
        <nav>
            <div class="recorrido">
                <a href="./">Home</a>
                <p>></p>
                <p>Detalles</p>
            </div>
        </nav>
        <!-- Titulo -->
        <h2 class="nombre-zapatilla">nombre zapatilla</h2>
        <!-- Imagenes -->
        <div class="main-section-imagenes">
            <div class="imagenes-detalles">
                <div class="img-principal">
                    <img src="/img/zapa-1.jpg" class="main-img" alt="imagen">
                </div>
                <div class="img-otros">
                    <img src="/img/zapa-2.jpg" class="views-img" alt="imagen2">
                    <img src="/img/zapa-3.jpg" class="views-img" alt="imagen3">
                    <img src="/img/zapa-4.jpg" class="views-img" alt="imagen4">
                </div>
            </div>
            <!-- Especificaciones -->
            <aside class="especificaciones">
                <div class="card-especificaciones">
                    <!-- precio -->
                    <p class="precio">Precio: $39.900</p>
                    <!-- Talle -->
                    <form class="talle" action="#">
                        <p>Talle:</p>
                        <label for="select"></label>
                        <select name="talle" id="select">
                            <option disabled selected>None</option>
                            <option value="1">36</option>
                            <option value="2">37</option>
                            <option value="3">38</option>
                            <option value="4">39</option>
                            <option value="4">40</option>
                            <option value="4">41</option>
                            <option value="4">42</option>
                            <option value="4">43</option>
                            <option value="4">44</option>
                            <option value="4">45</option>
                        </select>
                    </form>
                    <!-- Color -->
                    <div class="color">
                        <p>Color:</p>
                        <div class="color-1"></div>
                        <div class="color-2"></div>
                    </div>
                    <!-- Cantidad -->
                    <form class="cantidad" action="#">
                        <p>Cantidad:</p>
                        <label for="cantidad"></label>
                        <input id="cantidad" value="1" min="1" max="20" name="cantidad" type="number">
                    </form>
                    <!-- Botones -->
                    <div class="carrito">
                        <a href="/carrito">Comprar</a>
                        <a href="">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <!-- Descripcion -->
                <div class="descripcion-detalles">
                    <div class="card-descripcion-detalles">
                        <h4>descripcion</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate neque repellat aliquam
                            consequuntur veniam fuga in maxime sequi unde ratione!</p>
                    </div>
                </div>
            </aside>
        </div>
        <!-- Prodcutos similares -->
        <article class="productos-similares">
            <h4>Productos similares</h4>
            <img src="/img/zapa-otro-1.jpg" class="more-img" alt="otros productos">
            <img src="/img/zapa-otro-2.jpg" class="more-img" alt="otros productos">
            <img src="/img/zapa-otro-3.jpg" class="more-img" alt="otros productos">
            <img src="/img/zapa-otro-4.jpg" class="more-img" alt="otros productos">
        </article>
    </main>
    <footer class="home-footer">
        <section class="home-footer-section">
            <div class="home-footer-section-div">
                <h5>CONTACTANOS</h5>
                <ul>
                    <li> algo@gmail.com</li>
                    <li> 152354687</li>
                    <li> calle falsa 123</li>
                </ul>
            </div>
            <div class="home-footer-section-div">
                <h5>HORARIOS</h5>
                <p>Lunes a Sabados de 9:30 a 18hs</p>
            </div>
            <div class="home-footer-section-div">
                <h5>REDES</h5>
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                </ul>
            </div>
            <div class="home-footer-section-div">
                <h5>ACERCA DE</h5>
                <p>VER MAS <i class="fa-solid fa-chevron-down"></i></p>
            </div>
        </section>
    </footer>
</body>

</html>