<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <img src="/public/img/logo.jpg" alt="" width="240">
    <h1>Josefin Sans(fuente)</h1>
    <h2>footer oscuro/ body blanco/ header claro pastel que combine con el blanco</h2>
</body>
</html>