<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>

    <head>
    </head>
    <main>
        <form action="" method="">
            <div>
                <label for="nombre">nombre</label>
                <input id="nombre" type="text" name="name">
            </div>
            <div>
                <label for="apellido">apellido</label>
                <input id="apellido" type="text" name="apellido">
            </div>
            <div>
                <label for="email">email</label>
                <input id="email" type="email" name="email">
            </div>
            <div>
                <label for="password">contraseña</label>
                <input id="password" type="password" name="password">
            </div>
            <div>
                <label for="password2">confirme su contraseña</label>
                <input id="password2" type="password" name="password2">
            </div>
            <div>
               
                <button type="button">cancelar</button>
                <button type="button">enviar</button>
            </div>
          
            
        </form>
    </main>
    <footer>
    </footer>
</body>

</html>