.carrito_main {
    padding: 1px 10px 35px 10px;
    margin: 0 auto;

}

.carrito_conteiner h4,
.carrito_conteiner p {
    margin: 5px 0 5px 0;
}

/* .carrito__conteiner_rgba{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 5px;
} */

.carrito__conteiner_rgba h2,
.carrito__conteiner_recomended h2 {
    border-bottom: 1px solid silver;
    font-weight: 500;
    text-transform: uppercase;
    margin: 35px 0 0;
    padding: 10px 1px;
    font-size: 19px;
    margin: 35px 0;
    color: grey
}

.carrito__conteinerImg {
    display: flex;
    width: 100%;

}

.carrito__conteinerImg img {
    width: 100%;

}

.carrito__view-tablet-desktop {
    display: none;
}

.carrito__conteiner_card {
    padding: 0 10px;
    background-color: white;
    box-shadow: 0px 0px 30px 7px rgba(94, 84, 142, 1);
    border-radius: 6px;
    margin: 7px;
    border: 2px solid #e27396;
}

.carrito__card_container-items .carrito__card_info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e27396;
    align-items: center;
}

.carrito__article {
    margin: 35px 0;
}

.circle {
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    width: 15px;
    height: 15px;
}

.circle1 {
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    width: 15px;
    height: 15px;
}

.carrito_addProduc {
    display: flex;
    gap: 2px;
}

.carrito_sum-rest {
    display: flex;
    flex-direction: column;
}

.carrito__input_number {
    border: none;
    background: none;
    text-align: center;
}

.carrito__trash_conteiner {
    display: flex;
    justify-content: end;
}

.carrito_trash {
    font-size: 25px;
    margin: 5px;
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.carrito__conteiner_resumen {
    padding: 10px 10px;
    background-color: white;
    border-radius: 6px;
    margin: 7px;
    border:2px solid rgba(94, 84, 142, 1)
}


.carrito__conteiner_arti div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(94, 84, 142, 1);
}

.carrito__conteiner_arti div:last-child {
    border-bottom: none
}

.carrito_arti h4,
.carrito_total h4 {
    color: #cb1b2c;
    font-weight: 800;
}

.carrito__conteiner_finCompr {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.carrito__button_finCompr {
    font-size: 20px;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    background-color: #cb1b2c;
    padding: 10px;
    transition: all 0.5s;
}

.carrito__button_finCompr:hover {
    background-color: grey;
}

.carrito__conteiner_nextTrash {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito__conteiner_nextTrash a {
    text-decoration: none;
    color: black;
    padding: 3px;
}

.carrito__conteiner_prec-title-carousel {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 13px 13px;
    border-bottom: 1px solid rgba(94, 84, 142, 1);
    transition: all 0.5s;
}

.carrito__conteiner_prec-title-carousel:hover {
    border-bottom: 1px solid #e27396;
}

@media (min-width:520px) {
    .carrito__view-mobile {
        display: none;
    }

    .carrito__view-tablet-desktop {
        display: table;
        width: 100%;
    }

    .carrito__card_container-items {
        display: grid;
        grid-template-areas: "img detail size color price quantity provider subprice trash";
        grid-template-rows: 80px;
        grid-template-columns: repeat(9, 1fr);
        justify-content: center;
    }

    .carrito__card_container-items .carrito__card_info,
    .carrito__card_container-items .carrito__trash_conteiner {
        flex-direction: column;
    }

    .carrito__card_info-img {
        grid-area: img
    }

    .carrito__card_info-detail {
        grid-area: detail
    }

    .carrito__card_info-size {
        grid-area: size
    }

    .carrito__card_info-color {
        grid-area: color
    }

    .carrito__card_info-price {
        grid-area: price
    }

    .carrito__card_info-quantity {
        grid-area: quantity
    }

    .carrito__card_info-provider {
        grid-area: provider
    }

    .carrito__card_info-subprice {
        grid-area: subprice
    }

    .carrito__trash_conteiner {
        grid-area: trash
    }

    .carrito__conteiner_resumen {
        width: 50%;
    }

    .carrito__box_resumen {
        display: flex;
        justify-content: center;
        margin: 35px 0;
    }
}

/* @media (min-width:1144px) {
    .carrito_conteiner{
        display: flex;
        justify-content: space-around;
    }
    .carrito__view-tablet-desktop {
        width: 10%;
    }
    .carrito__conteiner_resumen {
        width: 90%;   
    }
} */