.main-detalles{
  padding: 1px 15px 35px 15px;
  margin: 0 auto;
}

.recorrido {
  display: flex;
  color: grey;
}

.recorrido a {
  list-style: none;
  padding-right: 5px;
  margin: 12px 0;
  color: grey;
  text-decoration: none;
}

.recorrido p {
  padding-right: 5px;
  margin: 12px 0;
}

/* Titulo */
.nombre-zapatilla {
  font-style: italic;
  text-transform: uppercase;
  color: grey;
  text-align: center;
  margin: 0 0 10px 0;
}

/* imagenes */
.main-section-imagenes {
  display: flex;
  flex-direction: column;
  border: 2px solid #e27396;
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 40px;
  background-color: #fff;
}

.img-principal {
  display: flex;
  justify-content: center;
}

.main-img {
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 10px;
}

.img-otros {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 2px solid #e27396;
}

.views-img {
  width: 25%;
  border: solid 1px #e27396;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}
.views-img:hover{
  border: solid 1px rgba(94, 84, 142, 1);
}

/* especificaciones */
.especificaciones {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.especificaciones p {
  font-weight: 900;
}

.card-especificaciones {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  color: black;
}

.precio, .talle, .color, .cantidad, .carrito {
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.precio {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e27396;
}

.sub-price {
  text-decoration: line-through 2px;
}

.discount {
  color: rgb(155, 223, 53);
}

.etiqueta {
  background-color: #dc3545;
   color: white;
   border-radius: 7%;
   margin-left: 6px;
}

.talle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e27396;
  
}
.talle p,.precio p,.color p,.cantidad p{
  margin: 5px;
}

.color {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e27396;
}

.details_conteiner_colors{
  display: flex;
  gap: 5px;
  align-items: center;
}

.details_conteiner_colors .color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.details_conteiner_colors .text-color {
  display: inline-block;
  text-transform: capitalize;
}

.cantidad {
  display: flex;
  justify-content: space-between;
  text-align-last: center;
  border-bottom: 1px solid #e27396;
}

.carrito {
  width: 100%;
  margin: 22px 0;
  justify-content: end;
  gap: 5px;
}

.card-descripcion-detalles {
  margin-top: 47px;
}

.carrito a {
  border: solid 2px #e27396;
  border-radius: 10px;
  padding: 3px;
  font-size: 12px;
  background-color: transparent;
  color: #e27396;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}

.carrito a:hover {
  color: rgba(94, 84, 142, 1);
  border-color: rgba(94, 84, 142, 1);
  font-weight: bold;
}

.descripcion-detalles {
  display: none;
}

/* Productos similares */
.productos-similares {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #353535b2;
}

.productos-similares h4 {
  width: 100%;
  text-align: center;
  outline: groove;
  font-size: 18px;
  color: white;
}

.more-img {
  width: 20%;
  margin: 22px 0;
  border: solid 1px silver;
  cursor: pointer;
}

/* TABLET */
@media (min-width: 768px) {
  .main-detalles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .img-otros{
    border-top: none;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
  }

  .nombre-zapatilla {
    width: 100%;
    margin: 0 0 25px 0;
  }

  .main-section-imagenes {
    display: flex;
    flex-direction: row;
  }

  .imagenes-detalles {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .views-img {
    width: 106px;
    height: 106px;
    object-fit: contain;
    margin-bottom: 5px;
  }

  .main-img {
    margin: 0;
  }

  .especificaciones {
    display: flex;
    width: 45%;
    margin: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-especificaciones {
    display: flex;
    height: 355px;
    align-items: center;
  }

  .descripcion-detalles {
    display: contents;
  }

  .card-descripcion-detalles {
    margin: 30px 0;
    text-align: center;
    color: gray;
  }

  .card-descripcion-detalles h4 {
    border-bottom: 2px solid #e27396;
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .card-descripcion-detalles {
    margin-top: 47px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .main-detalles{
    justify-content: center;
  }
  .main-section-imagenes{
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .card-descripcion-detalles {
    margin-top: 47px;
  }
}