/*Recorrido*/
.lista {
    display: flex;
}

.lista a {
    list-style: none;
    padding-right: 5px;
    margin: 12px 0;
}

.lista p {
    padding-right: 5px;
    margin: 12px 0;
}

/* imagenes */
h2 {
    text-align: center;
    margin-bottom: 10px;
}

.img-principal {
    display: flex;
    justify-content: center;
    border-top: solid 1px black;
}

.main-img {
    width: 50%;
}

.img-otros {
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    margin: 12px 0;
}

.views-img {
    width: 25%;
}

/* especificaciones */
aside {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid 1px black;
}

aside p {
    font-weight: 900;
}

/* .card {
    border: solid 1px black;
    width: 90%;
} */

.precio, .talle, .color, .cantidad, .carrito {
    width: 100%;
    display: flex;
    justify-content: center;
}

.precio {
    margin: 22px 0;
}

.talle {
    gap: 12px;
}

.color {
    gap: 8px;
    margin: 22px 0;
}

.color-1 {
    width: 35px;
    height: 20px;
    background-color: black;
    border: solid 1px black;
}

.color-2 {
    width: 35px;
    height: 20px;
    background-color: burlywood;
    border: solid 1px black;
}

.cantidad {
    gap: 10px;
    text-align-last: center;
}

.cantidad button {
    padding: 0px 3px;
}

.carrito {
    width: 100%;
    margin: 22px 0;
    justify-content: space-around;
}

.carrito a {
    border: solid 1px white;
    border-radius: 20px;
    padding: 11px;
    background-color: black;
    color: aliceblue;
}

/* Productos similares */
article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h4 {
    width: 100%;
    text-align: center;
    margin: 22px 0;
}

.more-img {
    width: 20%;
}
