.home-footer{
    width: 100%;
    display: flex;
    
    background-color: #252525ff;
    margin: 0;
    padding: 0;
    
}

.home-footer-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5px;
    margin: 0 5px;
    width: 100%;
    /* flex-wrap: wrap; */
    
}
.footer_conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e27396;
}
.footer_conteiner i{
    color: rgba(94, 84, 142, 1);
    font-size: 20px;
    transition: all 0.5s;
}
.footer_conteiner i:hover{
    color: #e27396;
}
.footer_locals{
    display: none;
}
.footer_redes{
    display: flex;
    list-style: none;
    gap: 10px;
    padding-left: 0;
    justify-content: center;
    margin-top: 50px;
}
.footer_redes li{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    font-size: 30px;
    text-align: center;
    transition: all 0.5s;
}
.footer_redes li:hover{
    color: #e27396;
    border: 2px solid #e27396;
}
.footer_redes li a{
    color: #fff;
    transition: all 0.5s;
}
.footer_redes li a:hover{
    color: #e27396;
}


 

.home-footer-section-div h5{
    color: white;
    padding: 5px;
    margin-top: 5px;
}

.home-footer-section-div p{
    display: none;
}

.home-footer-section-div ul li{
    display: none;
}
.footer_rights{
    text-align: center;
    color: #606262ff;
    font-size: 10px
}
.footer_rights a{
    text-decoration: none;
    color: #606262ff;
}
.footer_logo{
    padding:30px 0 20px 0 ;
    margin: auto;
}


@media (min-width: 381px){
   
    .home-footer-section{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home-footer-section-div{
        width: 20%;
        margin-right: 5px;
        padding: 5px;
    }
    .home-footer-section-div:nth-child(2) {
        margin-left: 9px;
    }

    .home-footer-section-div h5{
        text-align: center;
        
    }
    
    .home-footer-section-div ul li{
        display: block;
        color: white;
        font-size: 14px;
        padding-top: 5px;
        text-align: center;
    }

    .home-footer-section-div ul li i{
        display: flex;
        justify-content: center;
    }

    .home-footer-section-div p{
        display: flex;
        justify-content: center;
        text-align: center;
        color: #FFF;
        font-size: 14px;
        width: 100%;
    }
}


@media (min-width: 768px){

    .home-footer-section-div ul li{
        display: block;
        color: white;
        font-size: 14px;
        padding-top: 5px;
        text-align: center;

    }

}