/*main*/
a {
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
    width: -webkit-fill-available;
}

.home-main {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.home-main-carrusel {
    display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(216, 29, 216);
}

.banner-4 {
    display: none;
    margin: 6px 0;
}

.home-main-contenedor {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home_card {
    width: 100%;
}

.sky {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}


.pagination {
    place-content: center;
}

/*tablet*/
@media (min-width: 361px) {

    .home-main {
        flex-direction: column;
        justify-content: space-between;
    }

    .home-main-carrusel {
        display: block;
    }

    .banner-4 {
        min-width: -webkit-fill-available;
        display: block;
    }



}


/*desktop*/
@media (min-width: 569px) {

    .home-main-carrusel {
        width: 100%;
    }

    .home_card {
        width: 48%;
    }



}

@media (min-width: 1025px) {

      .home-main-carrusel{
            width: 100%;
            /* align-self: center; */
            /* border: solid 40px #e9ecef; */
            border-top: solid 10px #e9ecef;
            border-left: solid 40px #e9ecef;
            border-right: solid 40px #e9ecef;
            border-bottom: solid 20px #e9ecef;
        } 

    .banner-4 {
        display: none;
        margin: 6px 0;
    }

    .home_card {
        width: 23%;
    }
}