/*main*/

.home-main{
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

.home-main-carrusel{
    display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
    background-color: rgb(216, 29, 216);
}

.home-main-filtro{
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #35353596;
    margin: 6px 0;
    
}

 

.home-main-button-filtro{
    display: none;
}

.home-main-filtro button{
    width: 100%;
    padding-top: 10px;
    background-color: #35353596;
    border: 1px solid silver;
    color: white; 
     
     
}

.home-main-contenedor{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
       
}

.home-main-contenedor-card{
    width:100%;
    border: solid 1px black;
    position: relative;
    background-color: rgba(242, 233, 228, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(94, 84, 142, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.home-main-box {
    display: flex;
  }

  .home-main-discount {
    color: rgb(155, 223, 53);
  }

.home-main-button-ojo{
    position: absolute;
    top: 10px;
    right: 10px;

    border: none; 
    background-color: transparent;
     
}

.home-main-button-cora{
    position: absolute;
    top: 10px;
    right: 40px;

    border: none; 
    background-color: transparent;
     
}

.home-main-img{
    width: 100%;
}

.home-main-button-compra{
    margin-top: 15px;
    border-radius: 150px;
    height: 35px;
    background-color: black;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    padding: 15px; 

}

.home-main-button-compra a{
    color: white;
    text-decoration: none;
}

.home-main-text{
    margin-top: 10px ;
    text-align: center;
}

.home-main-precio{
    margin: 15px 0 15px 0;
}


/*tablet*/
@media (min-width: 361px){

.home-main{
    flex-direction: column;
    justify-content: space-between;

}

.home-main-carrusel{
    display: block;
   /*  width: 50%; */
    margin: 0 auto;
    object-fit: cover;
    width: 70%;
} 



.home-main-filtro{
    width: 100%;
    flex-direction: row;
    align-items: center;
    display: flex;
   
    
}



.home-main-filtro button{
    /* display: flex; */
    margin: 8px 8px 8px; 
    background-color: #35353596;
    border: 1px solid silver;
    color: white;
    height: 60px;
    font-size: 12px;
    
}


/* .home-main-button-filtro{
    display: flex; 
    margin: 8px 8px 8px;
     
} */

.home-main-contenedor{
    width: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
    
}

.home-main-contenedor-card{
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
}




}


/*desktop*/
@media (min-width: 769px){

.home-main-contenedor-card{
    width: 23%;
    }

.home-main-filtro button{
        justify-content: center;
        font-size: 15px;
        
    } 
    

}