.productAddAndEdit .img-product-edit {
   width: 100%;
   object-fit: contain;
   height: 150px;
}

.error-products {
    color: rgba(94, 84, 142, 1);
}

@media (min-width:768px) {
    .productAddAndEdit .img-product-edit {
        width: 170px;
        object-fit: contain;
        height: 170px;
     }
}
.productAddAndEdit .img-secondary-product-edit {
   width: 70px;
   object-fit: contain;
   height: 70px;
}

.productAddAndEdit .container-preview-img {
    width: 80px;
    height: 80px;
    border:1px solid rgb(198, 197, 197);
    margin: 5px auto;
}

.productAddAndEdit .container-preview-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}