<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{ title : 'Footwear-Fusion | Login' , }) %>
    <%- include('partials/bootstrap') %>

        <body>
            <%- include('partials/header') %>
                <main class="main-login">
                    <div class="carrito__conteiner_rgba">
                        <h2 class="fs-2">about</h2>
                    </div>
                    <div class="m-2">
                        <div class="mt-5">
                            <h4 class="fs-4">Acerca de Footwear-Fusion</h4>
                            <p class="ms-3"> Somos Footwear-Fusion, un grupo pensado en la comodidad del calzado de
                                nuestros
                                clientes,nos
                                pueden llamar la familia F-F. Nuestros productos son la combinación perfecta de
                                funcionalidad y moda, aportándote el mejor rendimiento tecnológico que necesitás y el
                                estilo
                                que buscás. Nuestros asociados alrededor del mundo dan vida a nuestras ideas gracias a
                                su
                                gran talento y creatividad. Al mismo tiempo que ofrecemos los mejores productos del
                                mercado,
                                nos sentimos comprometidos a aportar algo más allá de ello. Y ya que creemos en nuestro
                                éxito, defendemos y aseguramos que todos tengan la misma oportunidad.</p>
                        </div>
                        <div class="mt-5">
                            <h4 class="fs-4">Equipo de desarrollo</h4>
                            <div class="d-flex gap-4 flex-wrap ms-3">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body" style="height: 350px">
                                        <div class="w-100 d-flex justify-content-center mb-5"
                                            style="font-size: 60px; color: blue;">
                                            <i class="fa-brands fa-connectdevelop"></i>
                                        </div>
                                        <h5 class="card-title mb-3">Carrizo Luciano</h5>
                                        <p class="card-text">Tengo 31 años, soy de Buenos Aires, formandone como
                                            profesional
                                            en programacion web. Me gusta la tranquilidad y pasar tiempo con mis seres
                                            queridos.</p>
                                    </div>

                                    <div class="card-body d-flex justify-content-around">
                                        <a href="https://github.com/LucianoCarr" target="_blank" style="font-size: 50px; color: #252525ff;"><i
                                                class="fa-brands fa-github"></i></a>
                                        <a href="https://discord.com" style="font-size: 50px; color: #252525ff;"><i
                                                class="fa-brands fa-discord"></i></a>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body" style="height: 350px">
                                        <div class="w-100 d-flex justify-content-center mb-5"
                                            style="font-size: 60px; color: blue;">
                                            <i class="fa-brands fa-connectdevelop"></i>
                                        </div>
                                        <h5 class="card-title mb-3">Ariel Boxler</h5>
                                        <p class="card-text">Tengo 25 años, soy de Buenos Aires, me gusta programar, en
                                            mi tiempo libre trato de ver videos relacionados a la programacion.</p>
                                    </div>

                                    <div class="card-body d-flex justify-content-around">
                                        <a href="https://github.com/Arielboxler97" target="_blank" style="font-size: 50px; color: #252525ff;"><i
                                                class="fa-brands fa-github"></i></a>
                                        <a href="https://discord.com" style="font-size: 50px; color: #252525ff;"><i
                                                class="fa-brands fa-discord"></i></a>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body" style="height: 350px">
                                        <div class="w-100 d-flex justify-content-center mb-5"
                                            style="font-size: 60px; color: blue;">
                                            <i class="fa-brands fa-connectdevelop"></i>
                                        </div>
                                        <h5 class="card-title mb-3">Lucas Arroyo</h5>
                                        <p class="card-text">Tengo 24 años , soy de Bueno Aires. Me gusta pasar mi
                                            tiempo
                                            libre
                                            jugando videojuegos o haciendo deporte, me gustaria laburar desde la
                                            comodidad
                                            de mi
                                            casa y haciendo lo que me gusta.</p>
                                    </div>

                                    <div class="card-body d-flex justify-content-around">
                                        <a href="https://github.com/lucas21Arroyo" target="_blank" style="font-size: 50px; color: #252525ff;"><i
                                                class="fa-brands fa-github"></i></a>
                                        <a href="https://discord.com" style="font-size: 50px; color: #252525ff;"><i
                                                class="fa-brands fa-discord"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h4 class="fs-4" id="FAQ">Preguntas frecuentes</h4>
                            <div class="ms-3">
                                <p><b>Preparación de pedidos:</b> Podemos demorar hasta 72hs hábiles en la preparación y
                                    despacho de pedidos.</p>
                            </div>
                            <div class="ms-3">
                                <p><b> Tiempos de entrega:</b> Los tiempos de entrega aplican una vez
                                    preparado y
                                    despachado el pedido.</p>
                                <p class="ms-4">CABA y GBA Norte: Una vez despachado, las entregas se
                                    realizan en un tiempo de 24
                                    a 48 horas hábiles <br>
                                    GBA Sur, Oeste y La Plata: Una vez despachado, las entregas tienen una demora de
                                    24 a 72 horas hábiles. <br>
                                    Interior: Los tiempos estimado de entrega son de 2 días hábiles para ciudades
                                    principales y hasta 7 días hábiles para localidades remotas o de baja población
                                    <br>
                                    Tierra del Fuego: Los envíos a Tierra del Fuego tiene un plazo de hasta 15 días
                                    hábiles
                                </p>
                            </div>
                            <div class="ms-3">
                                <p><b>Cambios:</b> El plazo para realizar cambios es de 30 días.</p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h4 class="fs-4" id="pago">Medios de pago</h4>
                            <div>
                                <p><b> Medio de pago aceptado: </b>

                                    En Footwear-Fusion todas las transacciones son operadas exclusivamente por Mercado
                                    Pago. <br>
                                    Podés pagar en forma segura con tarjeta de débito o crédito en Hasta 12 cuotas con
                                    Visa, Master y American Express bancarias. Consultá Términos y Políticas de Mercado
                                    Pago aquí. <br>
                                    Los pagos con Tarjeta Naranja y CRM se podrán realizara en un solo pago.</p>
                            </div>
                        </div>
                        <div class=" mt-5">
                            <h4 class="fs-4" id="cambio">Politica de cambios</h4>
                            <div class="ms-3">
                                <p>En todos los casos, los cambios deben ser solicitados por medio de un mail. Para esto
                                    el usuario debe enviar un email a cambios@Footwear-Fusion.com.ar. Allí debe informar
                                    del
                                    cambio solicitado indicando los siguientes datos:</p>
                                <ul class="list-group w-50">
                                    <li class="list-group-item">Nombre y Apellido:</li>
                                    <li class="list-group-item">Email:</li>
                                    <li class="list-group-item">Número de pedido:</li>
                                    <li class="list-group-item">Código del producto que querés cambiar:</li>
                                    <li class="list-group-item">Código del producto nuevo:</li>
                                    <li class="list-group-item">Talle USA:</li>
                                    <li class="list-group-item">Motivo del cambio:</li>
                                    <li class="list-group-item">Dirección completa:</li>
                                </ul>
                                <p class="mt-3">Una vez acreditado el pago del costo de cambio y nueva entrega, Andreani
                                    pasará por
                                    tu domicilio a retirar el producto a cambiar. Una vez revisado el perfecto estado
                                    del mismo, te entregarán el nuevo pedido.</p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h4 class="fs-4" id="envio">Envios</h4>
                            <div class="ms-3">
                                <p><b>Envíos:</b> Nuestros tiempos de envío podrían verse afectados, estimando
                                    actualmente un
                                    plazo de hasta 10 días hábiles en CABA y 21 días hábiles al resto del país una vez
                                    despachado.</p>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h4 class="fs-4" id="locales">Locales</h4>
                            <div class="d-flex gap-2">
                                <div class="ms-3 w-25 mb-3 gap-2">
                                    <div class="">
                                        <ul class="px-0">
                                            <li
                                                class="list-group-item fs-4 text-danger border-bottom border-danger mb-3">
                                                <i class="fa-solid fa-location-dot"></i> Martinez
                                            </li>
                                            <li class="list-group-item text-body-tertiary"><i
                                                    class="fa-solid fa-location-dot"></i> Vélez Sarsfield 3180,
                                                Martínez, Bs. As.</li>
                                            <li class="list-group-item text-body-tertiary"><i
                                                    class="fa-regular fa-clock"></i> Lunes a Domingo de 10 a 20hs
                                            </li>
                                            <li class="list-group-item text-body-tertiary"><i
                                                    class="fa-solid fa-phone"></i> 0000-0000</li>
                                            <li class="list-group-item text-body-tertiary"><i
                                                    class="fa-brands fa-whatsapp"></i> 0000-0000</li>
                                        </ul>
                                    </div>
                                    <div class="d-flex gap-4">
                                        <div class="">
                                            <ul class="px-0">
                                                <li
                                                    class="list-group-item fs-4 text-danger border-bottom border-danger mb-3">
                                                    <i class="fa-solid fa-location-dot"></i> Soho
                                                </li>
                                                <li class="list-group-item text-body-tertiary"><i
                                                        class="fa-solid fa-location-dot"></i> Honduras 4822, Palermo, Bs. As.</li>
                                                <li class="list-group-item text-body-tertiary"><i
                                                        class="fa-regular fa-clock"></i> Lunes a Domingo de 10 a
                                                    20hs
                                                </li>
                                                <li class="list-group-item text-body-tertiary"><i
                                                        class="fa-solid fa-phone"></i> 0000-0000</li>
                                                <li class="list-group-item text-body-tertiary"><i
                                                        class="fa-brands fa-whatsapp"></i> 0000-0000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-75">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1688002434089!5m2!1ses-419!2sar"
                                        style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>

                            </div>
                        </div>

                </main>
                <%- include('partials/footer') %>

        </body>

</html>