<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'Footwear-Fusion | Cart',
    
  }) %>
    <%- include('partials/bootstrap') %>

<body>
    <%- include('partials/header') %>

    <main class="carrito_main">

        <div class="carrito__conteiner_rgba">
            <h2>Carrito de compras</h2>
            <section class="carrito_conteiner">

                <!-- VIEW TABLET AND DESKTO -->
                <table class="table table-secondary carrito__view-tablet-desktop" style="border:2px solid #e27396">
                    <thead>
                        <tr class="">
                            <th scope="col">Image</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Talle</th>
                            <th scope="col">Color</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Distribuidor</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- PRODUCTO 1 -->
                        <tr>
                            <!-- IMAGE -->
                            <td scope="col"> <img src="/img/zapa-1.jpg" style="width: 100px;" alt=""></td>
                            <!-- DETAIL -->
                            <td scope="col">
                                <p>Lorem, ipsum.</p>
                            </td>
                            <!-- SIZE -->
                            <td scope="col"><select name="talle" id="select">
                                    <option disabled selected>None</option>
                                    <option value="1">36</option>
                                    <option value="2">37</option>
                                    <option value="3">38</option>
                                    <option value="4">39</option>
                                    <option value="4">40</option>
                                    <option value="4">41</option>
                                    <option value="4">42</option>
                                    <option value="4">43</option>
                                    <option value="4">44</option>
                                    <option value="4">45</option>
                                </select></td>
                            <!-- COLOR -->
                            <td scope="col">
                                <div class="circle"></div>
                            </td>
                            <!-- PRICE -->
                            <td scope="col">
                                <p>$1000</p>
                            </td>
                            <!-- QUANTITY -->
                            <td scope="col"><label for="cantidad">
                                    <div class="carrito_addProduc">
                                        <div class="carrito_sum-rest">
                                            <i class="fa-solid fa-caret-up" style="color: #000000;"></i>
                                            <i class="fa-solid fa-caret-down" style="color: #000000;"></i>
                                        </div>
                                        <input class="carrito__input_number" id="cantidad" value="1" min="1" max="20" name="cantidad" type="number">
                                    </div>
                                </label></td>
                            <!-- PROVIDER -->
                            <td scope="col">
                                <p>Lorem, ipsum.</p>
                            </td>
                            <!-- SUBPRICE -->
                            <td scope="col">
                                <p>$1000</p>
                            </td>
                            <!-- TRASH -->
                            <td scope="col"> <button class="carrito_trash"><i class="fa-solid fa-trash"
                                        style="color: #5e548e;"></i></button></td>
                        </tr>

                        <!-- PRODUCTO 2 -->
                        <tr>
                            <!-- IMAGE -->
                            <td scope="col"> <img src="/img/zapa-otro-3.jpg" style="width: 100px;" alt=""></td>
                            <!-- DETAIL -->
                            <td scope="col">
                                <p>Lorem, ipsum.</p>
                            </td>
                            <!-- SIZE -->
                            <td scope="col"><select name="talle" id="select">
                                    <option disabled selected>None</option>
                                    <option value="1">36</option>
                                    <option value="2">37</option>
                                    <option value="3">38</option>
                                    <option value="4">39</option>
                                    <option value="4">40</option>
                                    <option value="4">41</option>
                                    <option value="4">42</option>
                                    <option value="4">43</option>
                                    <option value="4">44</option>
                                    <option value="4">45</option>
                                </select></td>
                            <!-- COLOR -->
                            <td scope="col">
                                <div class="circle1"></div>
                            </td>
                            <!-- PRICE -->
                            <td scope="col">
                                <p>$1000</p>
                            </td>
                            <!-- QUANTITY -->
                            <td scope="col"><label for="cantidad">
                                <div class="carrito_addProduc">
                                    <div class="carrito_sum-rest">
                                        <i class="fa-solid fa-caret-up" style="color: #000000;"></i>
                                        <i class="fa-solid fa-caret-down" style="color: #000000;"></i>
                                    </div>
                                    <input class="carrito__input_number" id="cantidad" value="1" min="1" max="20" name="cantidad" type="number">
                                </div>
                                </label></td>
                            <!-- PROVIDER -->
                            <td scope="col">
                                <p>Lorem, ipsum.</p>
                            </td>
                            <!-- SUBPRICE -->
                            <td scope="col">
                                <p>$1000</p>
                            </td>
                            <!-- TRASH -->
                            <td scope="col"> <button class="carrito_trash"><i class="fa-solid fa-trash"
                                        style="color: #5e548e;"></i></button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- VIEW MOBILE -->
                <div class="carrito__view-mobile">
                    <!-- PRODUCTO 1 -->
                    <article class="carrito__article">
                        <div class="carrito__conteiner_card">
                            <div class="carrito__card_container-items">
                                <!-- IMAGE -->
                                <div class="carrito__conteinerImg carrito__card_info carrito__card_info-img">
                                    <img src="/img/zapa-1.jpg" alt="">
                                </div>
                                <!-- DETAIL -->
                                <div class="carrito__card_info carrito__card_info-detail">
                                    <h4>Detalle</h4>
                                    <p>Lorem, ipsum.</p>
                                </div>
                                <!-- SIZE -->
                                <div class="carrito__card_info carrito__card_info-size">
                                    <h4>Talle</h4>
                                    <label for="select"></label>
                                    <select name="talle" id="select">
                                        <option disabled selected>None</option>
                                        <option value="1">36</option>
                                        <option value="2">37</option>
                                        <option value="3">38</option>
                                        <option value="4">39</option>
                                        <option value="4">40</option>
                                        <option value="4">41</option>
                                        <option value="4">42</option>
                                        <option value="4">43</option>
                                        <option value="4">44</option>
                                        <option value="4">45</option>
                                    </select>
                                </div>
                                <!-- COLOR -->
                                <div class="carrito__card_info carrito__card_info-color">
                                    <h4>Color</h4>
                                    <div class="circle"></div>
                                </div>
                                <!-- PRICE -->
                                <div class="carrito__card_info carrito__card_info-price">
                                    <h4>Precio</h4>
                                    <p>$1000</p>
                                </div>
                                <!-- QUANTITY -->
                                <div class="carrito__card_info carrito__card_info-quantity">
                                    <h4>Cantidad</h4>
                                    <label for="cantidad">
                                        <div class="carrito_addProduc">
                                            <div class="carrito_sum-rest">
                                                <i class="fa-solid fa-caret-up" style="color: #000000;"></i>
                                                <i class="fa-solid fa-caret-down" style="color: #000000;"></i>
                                            </div>
                                            <input class="carrito__input_number" id="cantidad" value="1" min="1" max="20" name="cantidad" type="number">
                                        </div>
                                    </label>
                                </div>
                                <!-- PROVIDER -->
                                <div class="carrito__card_info carrito__card_info-provider">
                                    <h4>Distribuidor</h4>
                                    <p>Lorem, ipsum.</p>
                                </div>
                                <!-- SUBPRICE -->
                                <div class="carrito__card_info carrito__card_info-subprice">
                                    <h4>Precio Subtotal</h4>
                                    <p>$1000</p>
                                </div>

                                <div class="carrito__trash_conteiner">
                                    <h4></h4>
                                    <button class="carrito_trash"><i class="fa-solid fa-trash"
                                            style="color: #5e548e;"></i></button>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- PRODUCTO 2 -->
                    <article class="carrito__article">
                        <div class="carrito__conteiner_card">
                            <div class="carrito__card_container-items">
                                <!-- IMAGE -->
                                <div class="carrito__conteinerImg carrito__card_info carrito__card_info-img">
                                    <img src="/img/zapa-otro-3.jpg" alt="">
                                </div>
                                <!-- DETAIL -->
                                <div class="carrito__card_info carrito__card_info-detail">
                                    <h4>Detalle</h4>
                                    <p>Lorem, ipsum.</p>
                                </div>
                                <!-- SIZE -->
                                <div class="carrito__card_info carrito__card_info-size">
                                    <h4>Talle</h4>
                                    <label for="select"></label>
                                    <select name="talle" id="select">
                                        <option disabled selected>None</option>
                                        <option value="1">36</option>
                                        <option value="2">37</option>
                                        <option value="3">38</option>
                                        <option value="4">39</option>
                                        <option value="4">40</option>
                                        <option value="4">41</option>
                                        <option value="4">42</option>
                                        <option value="4">43</option>
                                        <option value="4">44</option>
                                        <option value="4">45</option>
                                    </select>
                                </div>
                                <!-- COLOR -->
                                <div class="carrito__card_info carrito__card_info-color">
                                    <h4>Color</h4>
                                    <div class="circle1"></div>
                                </div>
                                <!-- PRICE -->
                                <div class="carrito__card_info carrito__card_info-price">
                                    <h4>Precio</h4>
                                    <p>$1000</p>
                                </div>
                                <!-- QUANTITY -->
                                <div class="carrito__card_info carrito__card_info-quantity">
                                    <h4>Cantidad</h4>
                                    <label for="cantidad">
                                        <div class="carrito_addProduc">
                                            <div class="carrito_sum-rest">
                                                <i class="fa-solid fa-caret-up" style="color: #000000;"></i>
                                                <i class="fa-solid fa-caret-down" style="color: #000000;"></i>
                                            </div>
                                            <input class="carrito__input_number" id="cantidad" value="1" min="1" max="20" name="cantidad" type="number">
                                        </div>                                    </label>
                                </div>
                                <!-- PROVIDER -->
                                <div class="carrito__card_info carrito__card_info-provider">
                                    <h4>Distribuidor</h4>
                                    <p>Lorem, ipsum.</p>
                                </div>
                                <!-- SUBPRICE -->
                                <div class="carrito__card_info carrito__card_info-subprice">
                                    <h4>Precio Subtotal</h4>
                                    <p>$1000</p>
                                </div>
                                <!-- TRASH -->
                                <div class="carrito__trash_conteiner">
                                    <h4></h4>
                                    <button class="carrito_trash"><i class="fa-solid fa-trash"
                                            style="color: #5e548e;"></i></button>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- RESUMEN -->
                <div class="carrito__box_resumen">
                    <div class="carrito__conteiner_resumen">
                        <div class="carrito__conteiner_arti">
                            <div class="carrito_arti">
                                <p>Total de articulos:</p>
                                <h4>2</h4>
                            </div>
                            <div class="carrito_total">
                                <p>Total:</p>
                                <h4>$2000</h4>
                            </div>
                        </div>
                        <div class="carrito__conteiner_finCompr">
                            <a href=""><button class="carrito__button_finCompr" type="button">Finalizar
                                    compra</button></a>

                        </div>
                        <div class="carrito__conteiner_nextTrash">
                            <a href="/">Continuar comprando</a>
                            <a href="">Vaciar carro</a>
                        </div>
                    </div>
                </div>

            </section>
            <!-- CARROUSEL -->
            <div class="swiper mySwiper">
                <div class="carrito__conteiner_recomended">
                    <h2>Recomendaciones para vos</h2>
                </div>
                <div class="swiper-wrapper">
                    <!-- ARTICLE 1 -->
                    <div class="swiper-slide">
                        <a class="image_swi" href="/products/details"><img  src="/img/zapa-otro-1.jpg" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$1000</h4>
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <!-- ARTICLE 2 -->
                    <div class="swiper-slide">
                        <a href="/products/details"><img src="/img/zapa-otro-3.jpg" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$1000</h4>
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <!-- ARTICLE 3 -->
                    <div class="swiper-slide">
                        <a href="/products/details"><img src="/img/zapa-otro-1.jpg" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$1000</h4>
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <!-- ARTICLE 4 -->
                    <div class="swiper-slide">
                        <a href="/products/details"><img src="/img/zapa-otro-3.jpg" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$1000</h4>
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <!-- ARTICLE 5 -->
                    <div class="swiper-slide">
                        <a href="/products/details"><img src="/img/zapa-otro-1.jpg" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$1000</h4>
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <!-- ARTICLE 6 -->
                    <div class="swiper-slide">
                        <a href="/products/details"><img src="/img/zapa-otro-3.jpg" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$1000</h4>
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <!-- ARTICLE 7 -->
                    <div class="swiper-slide">
                        <a href="/products/details"><img src="/img/zapa-otro-1.jpg" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$1000</h4>
                            <p>Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/carousel-swiper.js"></script>
</body>

</html>