<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'Footwear-Fusion | Details',
    
  }) %>

<body>

    <%- include('partials/header') %>

    <main class="main-detalles">
        <!-- Recorrido -->
        <nav>
            <div class="recorrido">
                <a href="/">Home</a>
                <p>></p>
                <p>Detalles</p>
            </div>
        </nav>
        <!-- Titulo -->
        <h2 class="nombre-zapatilla">nombre zapatilla</h2>
        <!-- Imagenes -->
        <div class="main-section-imagenes">
            <div class="imagenes-detalles">
                <div class="img-principal">
                    <img src="/img/zapa-1.jpg" class="main-img" alt="imagen">
                </div>
                <div class="img-otros">
                    <img src="/img/zapa-2.jpg" class="views-img" alt="imagen2">
                    <img src="/img/zapa-3.jpg" class="views-img" alt="imagen3">
                    <img src="/img/zapa-4.jpg" class="views-img" alt="imagen4">
                </div>
            </div>
            <!-- Especificaciones -->
            <aside class="especificaciones">
                <div class="card-especificaciones">
                    <!-- precio -->
                    <p class="precio">Precio: $39.900</p>
                    <!-- Talle -->
                    <form class="talle" action="#">
                        <p>Talle:</p>
                        <label for="select"></label>
                        <select name="talle" id="select">
                            <option disabled selected>None</option>
                            <option value="1">36</option>
                            <option value="2">37</option>
                            <option value="3">38</option>
                            <option value="4">39</option>
                            <option value="4">40</option>
                            <option value="4">41</option>
                            <option value="4">42</option>
                            <option value="4">43</option>
                            <option value="4">44</option>
                            <option value="4">45</option>
                        </select>
                    </form>
                    <!-- Color -->
                    <div class="color">
                        <p>Color:</p>
                        <div class="color-1"></div>
                        <div class="color-2"></div>
                    </div>
                    <!-- Cantidad -->
                    <form class="cantidad" action="#">
                        <p>Cantidad:</p>
                        <label for="cantidad"></label>
                        <input id="cantidad" value="1" min="1" max="20" name="cantidad" type="number">
                    </form>
                    <!-- Botones -->
                    <div class="carrito">
                        <a href="/products/cart">Comprar</a>
                        <a href="">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <!-- Descripcion -->
                <div class="descripcion-detalles">
                    <div class="card-descripcion-detalles">
                        <h4>descripcion</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate neque repellat aliquam
                            consequuntur veniam fuga in maxime sequi unde ratione!</p>
                    </div>
                </div>
            </aside>
        </div>
        <!-- Prodcutos similares -->
        <article class="productos-similares">
            <h4>Productos similares</h4>
            <img src="/img/zapa-otro-1.jpg" class="more-img" alt="otros productos">
            <img src="/img/zapa-otro-2.jpg" class="more-img" alt="otros productos">
            <img src="/img/zapa-otro-3.jpg" class="more-img" alt="otros productos">
            <img src="/img/zapa-otro-4.jpg" class="more-img" alt="otros productos">
        </article>
    </main>
    <%- include('partials/footer') %>
</body>

</html>