<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{ title : 'Footwear-Fusion | Details' , }) %>

    <body>

        <%- include('partials/header') %>

            <main class="main-detalles">
                <!-- Recorrido -->
                <nav>
                    <div class="recorrido">
                        <a href="/">Home</a>
                        <p>></p>
                        <p>Detalles</p>
                    </div>
                </nav>
                <!-- Titulo -->
                <h2 class="nombre-zapatilla">nombre zapatilla</h2>
                <!-- Imagenes -->
                <div class="main-section-imagenes">
                    <div class="imagenes-detalles">
                        <div class="img-principal">
                            <img src="/img/zapa-1.jpg" class="main-img" alt="imagen">
                        </div>
                        <div class="img-otros">
                            <img src="/img/zapa-2.jpg" class="views-img" alt="imagen2">
                            <img src="/img/zapa-3.jpg" class="views-img" alt="imagen3">
                            <img src="/img/zapa-4.jpg" class="views-img" alt="imagen4">
                        </div>
                    </div>
                    <!-- Especificaciones -->
                    <aside class="especificaciones">
                        <div class="card-especificaciones">
                            <!-- precio -->
                            <div class="precio">
                                <p>Precio:</p>
                                <p> $39.900</p>
                            </div>
                            <!-- Talle -->
                            <form class="talle" action="#">
                                <p>Talle:</p>
                                <label for="select"></label>
                                <select name="talle" id="select">
                                    <option disabled selected>None</option>
                                    <option value="1">36</option>
                                    <option value="2">37</option>
                                    <option value="3">38</option>
                                    <option value="4">39</option>
                                    <option value="4">40</option>
                                    <option value="4">41</option>
                                    <option value="4">42</option>
                                    <option value="4">43</option>
                                    <option value="4">44</option>
                                    <option value="4">45</option>
                                </select>
                            </form>
                            <!-- Color -->
                            <div class="color">
                                <p>Color:</p>
                                <div class="details_conteiner_colors">
                                    <div class="color-1"></div>
                                    <div class="color-2"></div>
                                </div>
                            </div>
                            <!-- Cantidad -->
                            <form class="cantidad" action="#">
                                <p>Cantidad:</p>
                                <div class="carrito_addProduc">
                                    <div class="carrito_sum-rest">
                                        <i class="fa-solid fa-caret-up" style="color: #000000;"></i>
                                        <i class="fa-solid fa-caret-down" style="color: #000000;"></i>
                                    </div>
                                    <input class="carrito__input_number" id="cantidad" value="1" min="1" max="20"
                                        name="cantidad" type="number">
                                </div>
                            </form>
                            <!-- Botones -->
                            <div class="carrito">
                                <a href="">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="/products/cart">Comprar</a>
                            </div>
                        </div>
                        <!-- Descripcion -->
                        <div class="descripcion-detalles">
                            <div class="card-descripcion-detalles">
                                <h4>descripcion</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate neque repellat
                                    aliquam
                                    consequuntur veniam fuga in maxime sequi unde ratione!</p>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="swiper mySwiper">
                    <div class="carrito__conteiner_recomended">
                        <h2>Productos similares</h2>
                    </div>
                    <div class="swiper-wrapper">
                        <!-- ARTICLE 1 -->
                        <div class="swiper-slide">
                            <a class="image_swi" href="/products/details"><img src="/img/zapa-otro-1.jpg" alt=""
                                    width="100%"></a>
                            <div class="carrito__conteiner_prec-title-carousel">
                                <h4>$1000</h4>
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                        </div>
                        <!-- ARTICLE 2 -->
                        <div class="swiper-slide">
                            <a href="/products/details"><img src="/img/zapa-otro-3.jpg" alt="" width="100%"></a>
                            <div class="carrito__conteiner_prec-title-carousel">
                                <h4>$1000</h4>
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                        </div>
                        <!-- ARTICLE 3 -->
                        <div class="swiper-slide">
                            <a href="/products/details"><img src="/img/zapa-otro-1.jpg" alt="" width="100%"></a>
                            <div class="carrito__conteiner_prec-title-carousel">
                                <h4>$1000</h4>
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                        </div>
                        <!-- ARTICLE 4 -->
                        <div class="swiper-slide">
                            <a href="/products/details"><img src="/img/zapa-otro-3.jpg" alt="" width="100%"></a>
                            <div class="carrito__conteiner_prec-title-carousel">
                                <h4>$1000</h4>
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                        </div>
                        <!-- ARTICLE 5 -->
                        <div class="swiper-slide">
                            <a href="/products/details"><img src="/img/zapa-otro-1.jpg" alt="" width="100%"></a>
                            <div class="carrito__conteiner_prec-title-carousel">
                                <h4>$1000</h4>
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                        </div>
                        <!-- ARTICLE 6 -->
                        <div class="swiper-slide">
                            <a href="/products/details"><img src="/img/zapa-otro-3.jpg" alt="" width="100%"></a>
                            <div class="carrito__conteiner_prec-title-carousel">
                                <h4>$1000</h4>
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                        </div>
                        <!-- ARTICLE 7 -->
                        <div class="swiper-slide">
                            <a href="/products/details"><img src="/img/zapa-otro-1.jpg" alt="" width="100%"></a>
                            <div class="carrito__conteiner_prec-title-carousel">
                                <h4>$1000</h4>
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </main>
            <%- include('partials/footer') %>
                <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
                <script src="/js/carousel-swiper.js"></script>
    </body>

</html>