<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{
        title : 'Footwear-Fusion | Login',
        
      }) %>
<body>
    <%- include('partials/header') %>
    <main class="main-login">
        <div class="card-login">
            <h3>LOGIN</h3>
            <form action="" class="formulario">
                <div class="casillas-registro">
                    <label for="email"></label>
                    <input class="formulario-casillas" id="email" type="email" name="email" placeholder="Email">
                </div>
                <div class="casillas-registro">
                    <label for="password"></label>
                    <input class="formulario-casillas" id="password" type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="formulario-boton">
                    <button class="boton" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>