<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'Footwear-Fusion | Register',
    
  }) %>

<body>
    <%- include('partials/header') %>
    <main class="main-register">

        <div class="card-register">
            <h3>REGISTRO</h3>
            <form action="./home.html" class="formulario">
                <div class="register-nameAndLastname">
                    <div class="casillas-registro name">
                        <label for="text"></label>
                        <input class="formulario-casillas" id="name" name="name" type="text" placeholder="Nombre">
                    </div>
                    <div class="casillas-registro lastname">
                        <label for="text2"></label>
                        <input class="formulario-casillas" id="lastname" name="lastname" type="text"
                            placeholder="Apellido">
                    </div>
                </div>
                <div class="casillas-registro">
                    <label for="email"></label>
                    <input class="formulario-casillas" id="email" type="email" name="email" placeholder="Email">
                </div>
                <div class="conteiner-passwords">
                    <div class="casillas-registro register-password">
                        <label for="password"></label>
                        <input class="formulario-casillas" id="password" type="password" name="password"
                            placeholder="Contraseña">
                    </div>
                    <div class="casillas-registro register-password1">
                        <label for="password2"></label>
                        <input class="formulario-casillas" id="password2" type="password" name="password2"
                            placeholder="Confirmar Contraseña">
                    </div>
                </div>
                <div class="conteiner-buttons">
                    <div class="formulario-boton">
                        <button class="boton" type="submit">Enviar</button>
                    </div>
                    <div class="formulario-boton">
                        <button class="boton-2" type="reset">Borrar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>