<div class="swiper-slide">
    <a class="image_swi" href="/products/details/<%= product.id %>"><img src="/img/<%= product.image || 'default-image.png' %>" alt=""
            width="100%"></a>
    <div class="carrito__conteiner_prec-title-carousel">
        <h4>$<%= product.price %></h4>
        <p><%= product.name %></p>
    </div>
</div>