<footer class="home-footer">
    <section class="home-footer-section">
        <div class="footer_information">
            <div class="home-footer-section-div">
                <div class="footer_conteiner">
                    <h5>CONTACTANOS</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <p>lunes a Sabados de 9:30 a 18hs</p>
                <p class=""><a href="">Ventas@Footwear-Fusion.com.ar</a></p>
            </div>

            <div class="home-footer-section-div-locals">
                <div class="footer_conteiner">
                    <h5>LOCALES</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <ul class="footer_locals">
                    <li></li>
                </ul>

            </div>

            <div class="home-footer-section-div">
                <div class="footer_conteiner">
                    <h5>CATEGORIAS</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <ul class="footer_category">
                    <li><a href="">Footwear-Fusion zapatillas</a></li>
                    <li><a href="">Zapatillas running mujer</a></li>
                    <li><a href="">Zapatillas running hombre</a></li>
                    <li><a href="">Zapatillas deportiva mujer</a></li>
                    <li><a href="">Zapatillas deportiva hombre</a></li>
                    <li><a href="">Zapatillas deportiva niños</a></li>
                </ul>
            </div>

            <div class="home-footer-section-div">
                <div class="footer_conteiner">
                    <h5>AYUDA</h5>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <ul class="footer_category">
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Medios de pago</a></li>
                    <li><a href="">Políticas de cambios</a></li>
                    <li><a href="">Envíos</a></li>
                    <li><a href="">Locales</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_conteiner_redesAndRights">
            <div>
                <ul class="footer_redes">
                    <li><a href="https://es-la.facebook.com"><i class="fa-brands fa-facebook"></a></i></li>
                    <li><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></a></i></li>
                    <li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></a></i></li>
                </ul>
            </div>
            <div class="footer_rights">
                <p>TODOS LOS DERECHOS RESERVADOS</p>
                <p>Defensa de las y los Consumidores. Para reclamos.</p>
                <a href="">Ingrese Aqui</a>
            </div>
        </div>
        <div class="footer_logo">
            <img src="/img/logo-transform(whrite).png" alt="" style="width: 60px;">
        </div>
    </section>
</footer>