<footer class="home-footer">
    <section class="home-footer-section">
        <div class="footer_information">
            <div class="home-footer-section-div">
                <div class="footer_conteiner">
                    <h5>HORARIOS</h5>
                    <a href="/about#envio"><i class="fa-solid fa-plus"></i></a>
                </div>
                <p>lunes a Sabados de 9:30 a 18hs</p>
                <p class="">Ventas@Footwear-Fusion.com.ar</a></p>
            </div>

            <div class="home-footer-section-div-locals">
                <div class="footer_conteiner">
                    <h5>LOCALES</h5>
                    <a href="/about#locales"><i class="fa-solid fa-plus"></i></a>
                </div>
                <ul class="footer_locals">
                    <li></li>
                </ul>

            </div>

            <div class="home-footer-section-div">
                <div class="footer_conteiner">
                    <h5>SELECCION</h5>
                    <a href="/about#pago"><i class="fa-solid fa-plus"></i></a>
                </div>
                <ul class="footer_category">
                    <li>Footwear-Fusion zapatillas</li>
                    <li>Zapatillas running mujer</li>
                    <li>Zapatillas running hombre</li>
                    <li>Zapatillas deportiva mujer</li>
                    <li>Zapatillas deportiva hombre</li>
                    <li>Zapatillas deportiva niños</li>
                </ul>
            </div>

            <div class="home-footer-section-div">
                <div class="footer_conteiner">
                    <h5>AYUDA</h5>
                    <a href="/about#FAQ"><i class="fa-solid fa-plus"></i></a>
                </div>
                <ul class="footer_category">
                    <li><a href="/about#FAQ">FAQ</a></li>
                    <li><a href="/about#pago">Medios de pago</a></li>
                    <li><a href="/about#cambio">Políticas de cambios</a></li>
                    <li><a href="/about#envio">Envíos</a></li>
                    <li><a href="/about#locales">Locales</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_conteiner_redesAndRights">
            <div>
                <ul class="footer_redes">
                    <li><a href="https://es-la.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></a></i></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></a></i></li>
                    <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></a></i></li>
                </ul>
            </div>
            <div class="footer_rights">
                <p>TODOS LOS DERECHOS RESERVADOS</p>
                <p>Defensa de las y los Consumidores. Para reclamos.</p>
                Ingrese Aqui</a>
            </div>
        </div>
        <div class="footer_logo">
            <a href="#"><img src="/img/logo-transform(whrite).png" alt="" style="width: 60px;"></a>
        </div>
    </section>
</footer>