<header>

    <!-- user login link -->
    <div class="header--conteiner-user">
        <button class="header-user">
            <% if(locals.userLogin?.role === 'admin'){ %>
            <a href="/products/add"><i class="fa-solid fa-file-circle-plus" style="color: #fafafa;"></i></a>
            <% } %>
            
            <a class="text-decoration-none text-white" href="<%= locals.userLogin ? '/users/profile' : '/users/login' %>">
                <i class="fa-solid <%= locals.userLogin ? 'fa-id-card' : 'fa-user' %>" style="color: #fafafa;"></i>
                <%= locals.userLogin && `Hola ${locals.userLogin.username}` %>
            </a>
        </button>
        <button class="header-user">
            <% if (locals.userLogin) { %>
                <div class="header-user">
                    <a href="/users/exit"><i class="fa-solid fa-right-from-bracket" style="color: #fafafa;"></i></a>
                </div>
            <% } %>
        </button>
    </div>


    <nav class="header--conteiner-nav">

        <!-- burger icon -->
        <button class="header--button-bars">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- logo -->
        <a class="header--link-logo" href="/"><img src="/img/logo-transform(black).png" alt=""></a>

        <!-- title -->
        <h1>FootwearFusion</h1>

        <!-- search bar | DESKTOP -->
        <form action="/search" method="GET" class="header-form">
            <input type="text" name="keywords"  placeholder="Buscar">
            <button type="submit" ><i class="fas fa-search"></i></button>
        </form>

        <!-- shopping cart icon -->
        <div class="header--button-car">
            <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        
        
        <!-- links navigation -->

        <ul class="header--navbar">
            <li><a href="/">HOME</a></li>
            <li><a href="">HOMBRE</a></li>
            <li><a href="">MUJER</a></li>
            <li><a href="">NIÑOS</a></li>
            <li><a href="">OFERTAS</a></li>
            <li><a href="">ABOUT</a></li>
        </ul>


    </nav>

</header>