     <!-- Pagination -->
     <nav aria-label="...">
         <ul class="pagination">
         <li class="page-item"><a class="page-link" href="/#cartas">Ver todas</a></li>
        </ul>
         <ul class="pagination">
           <li class="page-item"><a class="page-link" href="/?page=1&limit=4/#cartas">1</a></li>
<<<<<<< HEAD
           <li class="page-item"><a class="page-link" href="/?page=2&limit=4, /#cartas">2</a></li>
           <li class="page-item"><a class="page-link" href="/?page=3&limit=4, /#cartas">3</a></li>
         </ul> 

      
=======
           <li class="page-item"><a class="page-link" href="/?page=2&limit=4/#cartas">2</a></li>
           <li class="page-item"><a class="page-link" href="/?page=3&limit=4/#cartas">3</a></li>
         </ul>
>>>>>>> b77217f692b42cddb85da453da7577325be1c254
       </nav>